* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", "NunitoRegular", sans-serif;
  color: #333;
  background-color: #d3d3d3;
}
.container-geral {
  padding: 60px 20px;
}
.container {
  max-width: 1279px;
  min-height: 350px;

  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: #fff;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  background: #ffc6a6;
  background: linear-gradient(
    90deg,
    rgba(255, 198, 166, 1) 0%,
    rgba(255, 242, 235, 1) 15%,
    rgba(255, 255, 255, 1) 100%
  );
}
.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  min-height: 350px;
  overflow: hidden;
  border-radius: 20px;
  z-index: 1;
  margin: 0 auto;
}
.container-img img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.container-texto {
  flex: 1;
  min-width: 300px;

  padding: 0 40px;
}
.container-texto h2 {
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 10px;
}
.subtitulo {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 50px;
}
.descricao {
  font-size: 1em;

  line-height: 1.5;
  margin-bottom: 30px;
}
.botao {
  display: inline-block;
  background-color: #ff7020;
  color: #000;
  text-decoration: none;
  padding: 20px 70px;
  border-radius: 5px;
  font-weight: normal;
  transition: background-color 0.3s;
  font-size: 1.2rem;
}
.botao:hover {
  background-color: #f59a66;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 0;
    background: #ffc6a6;
    background: linear-gradient(
      90deg,
      rgba(255, 198, 166, 1) 0%,
      rgba(255, 233, 224, 1) 75%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  .container-img {
    max-height: 100%;
    margin-bottom: 20px;
  }
  .container-texto {
    min-height: unset;
    padding: 0 20px;
    max-width: 100%;
    text-align: center;
  }
  .subtitulo {
    margin-bottom: 20px;
  }
}
